.next-up {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
.next-up-title {
    color: orange;
    font-weight: 900;
}
.book-stats {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 30px 30px;
    display: grid;
    justify-content: center;
}
.next-up .remaining-hours {
    margin: 0;
}
.next-up .progress {
    margin: 15px;
}
@media screen and (max-width: 850px)  {
    .next-up button {
        margin: 10px;
    }
}