.next-up {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
.next-up-title {
    grid-area: 1 / 1 / 2 / 3;
    color: orange;
    font-weight: 900;
}
.book-img {
    grid-area: 2 / 1 / 3 / 2;
}
.book-stats {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 30px 30px;
}
.progress-bar {
    width:200px;
    height:25px;
    border:1px solid black;
    border-radius: 25px;
    position:relative;
}