.book-list-page .section-title {
    margin: 30px 0 50px;
    flex-grow: 1;
}
.book-list-and-button {
    display: flex;
    flex-direction: column;
}
.book-list {
    display: flex;
    flex-wrap: wrap;
}
.book-list-page .add-book-button {
    margin-bottom: 20px;
}