.home {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
}
.section-title {
    font-family: 'Arvo', serif;
    color: orange;
}
.home h2 {
    text-align: left;
    /* margin: 50px 0 20px; */
}
.dashboard {
    display: flex;
    border: solid 1px lightgrey;
    flex-direction: column;
}

@media screen and (min-width: 850px)  {
    .dashboard {
      display: flex;
      flex-direction: row;
    }
}