.App {
  text-align: center;
  display: grid;
  grid-template-rows: 75px auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    'nav'
    'content';
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  grid-area: footer;
}

.horizontal-book-list {
  display: flex;
}