.search-and-add-panels {
    display: flex;
    justify-content: space-evenly;
}
.search-panel {
    background-color: #62AB37;
}
.book-form {
    background-color: #38726C;
    min-width: 300px;
    max-width: 500px;
}