.new-book .section-title {
    margin: 30px 0 50px;
    flex-grow: 1;
}
.search-and-add-panels {
    display: flex;
    justify-content: space-evenly;
}
.search-panel {
    flex-grow: 1;
}
.search-results {
    display: flex;
    flex-wrap: wrap;
}
.book-form {
    min-width: 300px;
    max-width: 500px;
}