.bookshelf-list-page .section-title {
    margin: 30px 0 50px;
}
.bookshelf-list-and-form {
    display: flex;
    justify-content: space-evenly;
}
.bookshelf-list {
    flex-grow: 1;
    margin-right: 40px;
}
.new-bookshelf-form {
    min-width: 300px;
    max-width: 500px;
    text-align: left;
}