.edit-book-form > form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
@media screen and (min-width: 1000px) {
    .edit-book-form {
        display: flex;    
    }
    .edit-book-form img {
        padding-right: 100px;
    }
    .edit-book-form > form {
        width: 40vw;
    }
}